$color-pack: false;
$body-font-family: "Polaris", "Nimbus Sans", Arial, Helvetica, sans-serif;

$navy: #13262f;
$blue: #00c1de;
$red: #ff4611;
$light-blue: #98dae9;
$darkViolet: #783cbd;
$violet: #7573c0;
$light-violet: #c6b3e1;
$light-gray: #a3a9ac;
$dark-gray: #545759;
$magenta: #b42371;
$orange: #ffa300;
$yellow: #f8e946;
$green: #42b983;